/*
 *  @Project:		Battle Brothers
 *	@Company:		Overhype Studios
 *
 *	@Copyright:		(c) Overhype Studios | 2013 - 2020
 *
 *  @Author:		Overhype Studios
 *  @Date:			24.01.2017 / Reworked: 26.11.2017
 *  @Description:	Inventory List Module CSS
 */

.character-screen-container .inventory-list-module
{
	top: 4.3rem;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;

    /*border-bottom: 1px rgba(130, 130, 130, 1) solid;*/
}

.character-screen-container .inventory-list-module .l-list-container
{
    top: 0;
    left: 0.5rem;
    right: 0;
    bottom: 3.4rem;
    position: absolute;
    margin-right: 0.2rem;

    height: 44.4rem;

    /*background-image: url("coui://gfx/ui/skin/raster.png");
    background-repeat: no-repeat;
    background-position: 0.0rem 0.5rem;*/
}

.character-screen-container .inventory-list-module .l-list-container.is-filter-panel-visible
{
	top: 7.2rem;
}

.character-screen-container .inventory-list-module .l-list-container .scroll-container
{
    margin-bottom: 0.0rem;
}



.character-screen-container .inventory-list-module .slot-count-panel
{
    left: 0;
    right: 0;
    bottom: 0;
    height: 3.4rem;
    width: 100%;
    position: absolute;

    z-index: 10;
    /*border-top: 1px rgba(130, 130, 130, 1) solid;*/
}

.character-screen-container .inventory-list-module .slot-count-panel .slot-count-container
{
    top: 2.2rem;
    right: 5.0rem;
    bottom: 0;
    width: 12.6rem;
    height: 2.4rem;
    position: absolute;
    margin: auto;
}

.character-screen-container .inventory-list-module .slot-count-panel .slot-count-container img
{
    top: 0;
    left: 0;
    bottom: 0;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    margin: auto;
}

.character-screen-container .inventory-list-module .slot-count-panel .slot-count-container .label
{
    top: 0;
    left: 2.6rem;
    bottom: 0;
    width: 10.0rem;
    height: 2.0rem;
    position: absolute;
    margin: auto;

    line-height: 2.0rem;
    text-align: left;
}



.character-screen-container .inventory-list-module .filter-panel
{
    position: absolute;
    left: 2.0rem;
    top: 0.8rem;
    z-index: 10;
}

.character-screen-container .inventory-list-module .filter-panel .l-button
{
	width: 5.2rem;
	height: 4.1rem;
	position: absolute;

    line-height: 2.6rem;
}

.character-screen-container .inventory-list-module .filter-panel .l-button.is-sort
{
    
}

.character-screen-container .inventory-list-module .filter-panel .l-button.is-all-filter
{
    left: 5.0rem;
}

.character-screen-container .inventory-list-module .filter-panel .l-button.is-weapons-filter
{
    left: 10.0rem;
}

.character-screen-container .inventory-list-module .filter-panel .l-button.is-armor-filter
{
    left: 15.0rem;
}

.character-screen-container .inventory-list-module .filter-panel .l-button.is-usable-filter
{
    left: 20.0rem;
}

.character-screen-container .inventory-list-module .filter-panel .l-button.is-misc-filter
{
    left: 25.0rem;
}

.character-screen-container .inventory-list-module .filter-panel .l-button.is-mood-filter
{
    left: 30.0rem;
}