/*
 *  @Project:		Battle Brothers
 *	@Company:		Overhype Studios
 *
 *	@Copyright:		(c) Overhype Studios | 2013 - 2020
 * 
 *  @Author:		Overhype Studios
 *  @Date:			23.09.2017
 *  @Description:	World Screen JS
 */

.world-screen
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}


.world-screen > .dialog-container
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;

    pointer-events: none;
}


.world-screen > .topbar-container
{
	top: 0;
	left: 0;
	width: 100%;
	height: 10.0rem;
	position: absolute;
    z-index: 2;

    pointer-events: none;
}

.world-screen > .topbar-container .left-module-container
{
	top: 0.3rem;
	left: 0.3rem;
	width: 44.6rem;
	height: 8.8rem;/*4.8rem;*/
	position: absolute;

    pointer-events: auto;
}

.world-screen > .topbar-container .middle-module-container
{
	top: 0.3rem;
	left: 0;
	right: 0;
	width: 12.8rem;
	height: 4.8rem;
	position: absolute;
	margin: auto;

    pointer-events: auto;
}

.world-screen > .topbar-container .right-module-container
{
	top: 0.3rem;
	right: 0.3rem;
	width: 44.6rem;
	height: 4.8rem;
	position: absolute;

    pointer-events: auto;
}


.world-screen > .active-contract-panel-container
{
    top: 6.0rem;
    right: 0.3rem;
    bottom: 0;
    width: 35.6rem;
    position: absolute;
    z-index: 3;

    pointer-events: none;
}